{% extends "base.html" %}
{% block title %} Dashboard {% endblock %}

{% block content %}
 <h1> Dashboard </h1>
 <p> Welcome to your page  </p>
 {% if appointments.count > 0 %}
<div >
    <h1 >Appointments:</h1>
    <div class="appcont">
        {% for appointment in appointments %}
          <div class="appointment-box">
            <div class="appointment-time">
              <div class="appointment-date">{{ appointment.day }}</div>
              <div>{{ appointment.time }}</div>
            </div>
            <div class="appointment-details">
              <div class="appointment-title">{{ appointment.title }}</div>
              <div class="appointment-agenda">{{ appointment.agenda }}</div>
              <div class="appointment-guest">Guest: {{ appointment.user2 }}</div>
            </div>
          </div>
        {% endfor %}
    </div>
</div>
{% endif %}

{% endblock %}